* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background-image: radial-gradient(
    circle,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}
.container {
  padding: 30px 40px 30px 40px !important;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  /* gap: 1px; */
}

.logo {
  padding-top: 10px;
  padding-left: 10px;
  max-width: 40%;
}
.square {
  height: 60px;
  width: 65px;
  font-size: 12px;
  text-transform: uppercase;
  color: hsl(229, 64%, 46%);
  background-color: white;
  border-radius: 5%;
}
.square,
.score {
  margin: 0;
  padding: 2px;
}
#totalScore {
  font-size: 25px;
  color: hsl(229, 25%, 31%);
}
main {
  padding-top: 30px;
  position: relative;
}
.triangle {
  display: block;
  margin: auto;
  width: 50%;
}
.paperBorder > img {
  display: inline;
  width: 20%;
  border: 5px solid;
  border-image: linear-gradient(45deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%))
    10;
  border-radius: 50%;
  padding: 18px;
  position: absolute;
  top: 0;
  left: 70px;
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}
h2 {
  text-transform: uppercase;
  padding-bottom: 40px;
}
.close {
  border: none;
  background-color: white;
  position: relative;
  right: 50%;
}
.modal {
  height: 90vh;
}
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-content {
  min-height: 94vh;
  /* max-height: 100%; */
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow: hidden !important;
}
.modal-body > img {
  display: block;
  margin: auto;
}

.modal-footer {
  padding-bottom: 50px !important;
}
button[type="button"] {
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 0.2em;
}
.btn {
  margin-bottom: 30px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
